.navbar {
    background-color: rgba(255, 255, 255, 0.7); /* Semi-transparent white background */
    z-index: 2; /* Set a higher z-index to keep the navbar on top */
    color: white;
}

.navbar-brand {
    padding: 0; /* Remove padding for the logo */
    color: white;
}

.navbar-brand img {
    max-height: 100px; /* Adjust the logo height */
}

.navbar-nav .nav-link {
    color: white; /* Text color for the menu items */
    font-size: 20px; /* Adjust the menu font size */
    
}

.page-heading {
    margin-top: 160px;
    margin-bottom: 30px;
    background-image: url(..image/ba);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .page-heading .inner-content {
    padding: 150px 0px;
    text-align: center;
  }
  
  .page-heading .inner-content h2 {
    font-size: 52px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 15px;
  }
  #products .section-heading {
    text-align: center;
    margin-bottom: 60px;
    margin-top: 80px;
  }
  
  #products .item {
    margin-bottom: 30px;
  }
  
  #products .item .thumb img {
    width: 100%;
    overflow: hidden;
  }
  
  #products .item .down-content {
    padding-top: 20px;
    position: relative;
    z-index: 3;
    background-color: #fff;
  }
  
  #products .item .down-content h4 {
    font-size: 22px;
    color: #2a2a2a;
    font-weight: 700;
    margin-bottom: 8px;
  }
  
  #products .item .down-content span {
    font-size: 18px;
    color: #a1a1a1;
    font-weight: 500;
    display: block;
  }
  
  #products .item .down-content ul.stars {
    position: absolute;
    right: 0;
    top: 20px;
  }
  
  #products .item .down-content ul.stars li {
    display: inline;
    font-size: 13px;
    color: rgba(243, 181, 25);
  }
  
  #products .item .thumb .hover-content {
    position: absolute;
    z-index: 2;
    text-align: center;
    bottom: -60px;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all .5s;
  }
  
  #products .item .thumb:hover .hover-content {
    bottom: 30px;
    opacity: 1;
    visibility: visible;
  }
  
  #products .item .thumb {
    position: relative;
  }
  
  #products .item .thumb .hover-content ul li {
    display: inline;
    margin: 0px 10px;
  }
  
  #products .item .thumb .hover-content ul li a {
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    display: inline-block;
    color: #2a2a2a;
    background-color: #fff;
  }
  
  
    
  
  