 /* Custom styles for the registration form */
 body {
    background-image: url(background.jpeg); 
    background-size: cover; 
    background-repeat: no-repeat; 
    color: #333;
    height: 100vh;
    display: flex;
    align-items: center;
}

.card {
    border: none;
    font-weight: bold;
}

.card-header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}



.btn-orange {
    background-color: black;
    color: #fff;
    border: none;
}

.btn-orange:hover {
    background-color: #d9534f;
}

/* Set label color to black */
label {
    color: #000;
}